{% extends "base.html" %}
  
{% block head %}
  <title>Builder homepage</title>
{% endblock %}

{% block prebody %}
  <p>This builder page can only be reached with the direct link. </p>
  <!-- each new builder will enter their info and send it to us. this will be reviewed and approved/denied.  -->
  <p>Approved builders will be able to sign in below with their millburn email,
    along with their given password.
  </p>
  <br>
  {% endblock %}
  {% block flashbody %}
  <form action = "/builder_homepage" enctype = "multipart/form-data" method = "POST" name = "userData">
    <input type = "text" name = "builder_email" placeholder = "enter your builder email">
    <br>
    <br>
    <input type = "password" name = "password" placeholder = "enter password">
    <br>
    <!-- <input type = "text" name = "builder_name" placeholder = "enter builder name"> -->
    <br>
    <input type = "submit" value = "log in" name = "builder_homepage_submit">
  </form>
  <br>
  <a href = "/">Return to homescreen?</a>
  {% endblock %}
