{% extends "base.html" %} 

{% block head %}
  <title>MHS Machining Home Page</title>
{% endblock %} 

{% block prebody %}
<center>
<img src = "static/mhslogo.png" width = "215" height = "150">
</center>


<div class = "centered">
	<h1>MHS Machining Request Homepage</h1>
</center>
<br>
<br>
<center>
  
  <a href = "/make_request" class = "cool-button-big">Make a machining request</a>
  <br>
  <br>
  <br>
  <a href='/builder_homepage' class = "cool-button-big">Machining Staff Sign In</a>
  
</div>



	
  
{% endblock %}