{% extends "base.html" %}
  
{% block head %}
  <title>Builder Interface</title>
{% endblock %}

{% block prebody %}
  <!-- TODO: create the builder page in which they can see all of their clients & ongoing work, they should be able to clear tasks, tasks get automatically added. -->
  <!-- <p>hi</p> -->
  <!-- Implement a system where builders can tap a button and it removes the task (finishes it) -->
  
  <div class = "builder_page">
    <div class = "centered">
    <h2>Hi, {{current_user.email}} ... </h2>
    <a href = '/logout' class = "cool_button" style = "position: absolute; top: 0px; right: 0px">Logout</a>
    <h1>Welcome to the Machining Staff Interface</h1>
    </div>
    <div class = "centered">
    <table>
      <tr>
        <th>Email</th>
        <th>Request ID</th>
        <th>Due date</th>
        <th>Description</th>
        <th>Machines Required</th>
        <th>Finish request</th>
        <th>Download documents</th>
        <th>Edit request</th>
      </tr>
    
      {% for request in stuff_list %}
      <tr>
        {% set r = request_ids[loop.index-1] %}
        
        {% set doc = alldocs[loop.index- 1] %}
        
        {% set machine = machineNames[loop.index - 1] %}

        {% for stat in request %}
          <td>{{stat}}</td>
        {% endfor %}
        
        {% if not machine %}
        <td>N/A</td>
        {% else %}
        <td>
          {% for mach in machine %}
          {{mach}}
          {% endfor %}
        </td>
        {% endif %}

        <td><a href = "/finish/{{r}}" class = "cool_button">finish request {{r}}</a></td>
        
      

        {% if doc %}
          {% if doc == 0 %}
            <td>No docs</td>
          {% else %}
            <td><a href = "{{ doc }}" download class = "cool_button">download</a></td>
          {% endif %} 
        {% endif %}

        <td><a href = "/edit/{{r}}" class = "cool_button">edit request {{r}}</a></td>

      </tr>
      {% endfor %}
      <!-- <tr>  
      {% for r in request_ids %}
        <th><a href = "/finish/{{r}}">finish request {{r}}</a></th>
      {% endfor %}
      </tr>

      <tr>
        {% for doc in alldocs %}
          {% if doc %}
              <th><a href = "{{ doc }}" download>download</a></th> 
          {% endif %}
        {% endfor %}
      </tr> -->
    
    </table>
    </div>
    
  </div>
  
{% endblock %}
