{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block prebody %}
{% endblock %}
{% block flashbody %}
<div class = "centered">
<table>
<tr>
<th>Name</th>
<th>Email</th>
<th>Approve Builder</th>
<th>Deny Builder</th>
</tr>
{% for i in range(0, builderarr|length) %}
<tr>
  <td> {{builderarr[i][0]}} </td>
  <td> {{builderarr[i][1]}}</td>
  <td><a href = "/approve/{{builderarr[i][1]}}" class = "cool_button">Approve</a></td>
  <td><a href = "/deny/{{builderarr[i][1]}}" class = "cool_button">Deny</a></td>
<tr>
{% endfor %}
</table>
</div>
{% endblock %}